[Desktop Entry]
Exec=/home/pitagoras/software/rstudio/rstudio_server_up.sh %F
Icon=rstudio
Type=Application
Terminal=true
Name=RStudio Server UP
Categories=Development;IDE;